# BLU01 - Exercises Notebook

**Important Note**

Attention Windows users: The grader will run on Linux, and using power shell statements will not work.

In [1]:
import chardet
import hashlib # for grading purposes
import math
import numpy as np
import csv
import pandas as pd
import random

## Q1: Use a shell command to count lines

In [2]:
# Use the file data/exercises/surfing.txt
# Start by counting the total lines and add the total to the variable count_total.
! wc -l < data/exercises/surfing.txt
count_total = 33
# YOUR CODE HERE
#raise NotImplementedError()

33

In [3]:
expected_hash = 'c6f3ac57944a531490cd39902d0f777715fd005efac9a30622d5f5205e7f6894'
assert hashlib.sha256(str(count_total).encode()).hexdigest() == expected_hash, "count_total is wrong"

Now store in 2 variables the first third and the last third of the lines existent on that file.

In [4]:
# NOT GRADED optional exercise!!
# Now add the first third and the last third of the lines to the variables first_third and last_third. 
# Make it work to any files using count_total/3 for instance in the bash commands
first_third = ! head -11 data/exercises/surfing.txt
# YOUR CODE HERE
#raise NotImplementedError()
last_third = ! tail -11 data/exercises/surfing.txt
# YOUR CODE HERE
#raise NotImplementedError()
assert first_third[-1][0] == 's'
assert last_third[0][0] == 'l'

Test the `first_third` and `last_third` exercise by running the following (ungraded) asserts.

```
assert first_third[-1][0] == 's'
assert last_third[0][0] == 'l'
```

## Q2: Read a file with specific delimiter

Read file **data/exercises/surfing_sessions.csv** into a pandas DataFrame.

First, you should preview the file using a shell command in order to find out the used delimiter, and other properties of this file.

Then, you should use function read_csv to read the data into a DataFrame. The resulting DataFrame should have the last column as index.

In [5]:
# Use a shell command to preview the data
! wc -l < data/exercises/surfing_sessions.csv
! head -3 data/exercises/surfing_sessions.csv
# YOUR CODE HERE
#raise NotImplementedError()

# Use function read_csv to read the data into a DataFrame
df2 = pd.read_csv("data/exercises/surfing_sessions.csv",sep = ';',decimal = ',',index_col = 'visit_id')
#df2 = df2.reset_index().set_index('visit_id',drop = True)
df2.head
#df2.loc[126903, 'location']
# YOUR CODE HERE
#raise NotImplementedError()

108
surfer;wave_power;location;visit_id
3;37,6;Rocky Point;146097
3;5,7;Chuns;146087

<bound method NDFrame.head of           surfer  wave_power            location
visit_id
146097         3       37.60         Rocky Point
146087         3        5.70               Chuns
130395         3        5.00    Noronha(Cacimba)
130363         3        5.00         Rocky Point
130362         3       11.30  Noronha(Conceicao)
...          ...         ...                 ...
157350         2       20.10             Poily’s
157348         2       15.10         Rocky Point
153466         2        7.43             Poily’s
153464         2       45.10             Haleiwa
153463         2       31.90          Army Beach

[108 rows x 3 columns]>

In [6]:
assert df2.loc[126903, 'location'] == 'Pupukea', "df3 data is wrong"
assert set(df2.columns) == {'location', 'surfer', 'wave_power'}, "df3 data is wrong"
assert len(df2) == 108, "df3 data is wrong"
assert df2.index[0] == 146097, "df3 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df2.index.name.encode()).hexdigest() == expected_hash

## Q3: Read a csv file with problems

Read file **data/exercises/surfing_sessions_w_problems.csv** using function `read_csv`. Pay attention to the following:
* you might find some trouble when reading the file, at first, then just ignore the problems ;)
* use the first column as index
* there are some inputs in the file that should be interpreted as NaN, make sure you select the right one when reading the file!

In [7]:
# Read file data/exercises/surfing_sessions_w_problems.csv with read_csv
df3 = pd.read_csv('data/exercises/surfing_sessions_w_problems.csv',error_bad_lines = False,na_values = {'wave_power':999999.0}).set_index('visit_id')
df3
# YOUR CODE HERE
#raise NotImplementedError()

b'Skipping line 9: expected 4 fields, saw 6\nSkipping line 13: expected 4 fields, saw 5\nSkipping line 18: expected 4 fields, saw 5\nSkipping line 19: expected 4 fields, saw 6\n'

          surfer  wave_power            location
visit_id
146097         3        37.6         Rocky Point
146087         3         5.7               Chuns
130395         3         NaN    Noronha(Cacimba)
130363         3         5.0         Rocky Point
130362         3        11.3  Noronha(Conceicao)
130360         3         8.9      Noronha(Boldo)
126903         3        32.7              Pupuke
126591         3         9.7              Ehukai
126590         3        10.4             Changes
126341         3         8.2             Changes
125540         3        34.1            Laniakea
122199         3        14.4         Glass Doors
121170         3        34.9       Walter’s West
120454         3         NaN        Gas Chambers

In [8]:
assert np.isnan(df3.loc[130395, 'wave_power']), "df3 data is wrong"
assert df3.loc[126903, 'wave_power'] == 32.7, "df3  data is wrong"

mean_selective_waste = df3['wave_power'].mean()
assert math.isclose(17.741, mean_selective_waste, rel_tol=1e-3), "df3 data is wrong"

expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df3.index.name.encode()).hexdigest() == expected_hash

## Q4: Repair a csv file after importing
Read the same file **data/exercises/surfing_sessions_w_problems.csv** using function `read_csv`. But now, be sure you don't miss any lines with relevant information! 

* use csv module to import everything to a list of lists
* create a df with only 4 meaningful columns and then convert the column `visit_id` to index
* replace garbage values with NaN's 
* format the columns with the right type

In [9]:
# Read file data/exercises/surfing_sessions_w_problems.csv using csv.reader and add result to
ff = open('data/exercises/surfing_sessions_w_problems.csv','r')
lines = list(csv.reader(ff))
# YOUR CODE HERE
#raise NotImplementedError()
# create a dataframe using the line list with only 4 columns
lines = [i[:4] for i in lines]
df4 = pd.DataFrame(lines[1:],columns = lines[0])
df4
# YOUR CODE HERE
#raise NotImplementedError()
# replace invalid values with nan (np.nan)

df4['wave_power'].unique()
df4['wave_power'] = df4['wave_power'].replace({'no-data':np.nan, '999999' :np.nan})

# YOUR CODE HERE
#raise NotImplementedError()
# set types per dataframe column (always use int64 when int's are needed)
df4['surfer'] = df4['surfer'].astype(int)
df4['visit_id'] = df4['visit_id'].astype(int)
df4 = df4.set_index('visit_id')
df4
# YOUR CODE HERE
#raise NotImplementedError()
# set a new index to the dataframe
# YOUR CODE HERE
#raise NotImplementedError()

          surfer  wave_power            location
visit_id
146097         3        37.6         Rocky Point
146087         3         5.7               Chuns
130395         3         NaN    Noronha(Cacimba)
130363         3         5.0         Rocky Point
130362         3        11.3  Noronha(Conceicao)
130360         3         8.9      Noronha(Boldo)
126903         3        32.7              Pupuke
126902         3         NaN             Pupukea
126591         3         9.7              Ehukai
126590         3        10.4             Changes
126341         3         8.2             Changes
126340         3        38.6            Laniakea
125540         3        34.1            Laniakea
122199         3        14.4         Glass Doors
121170         3        34.9       Walter’s West
120454         3         NaN        Gas Chambers
119736         3        21.7         Rocky Point
119735         3        21.2         Rocky Point

In [10]:
assert np.isnan(df4.loc[130395, 'wave_power']), "df4 content is wrong"
assert df4.loc[126340, 'wave_power'] == 38.6, "df4 content is wrong"

mean_wave_power = df4['wave_power'].mean()
assert math.isclose(19.626, mean_wave_power, rel_tol=1e-3), "df4 content is wrong"

assert df4['surfer'].dtype == np.int64, "df4 types are wrong"
assert df4['location'].dtype == object, "df4 types are wrong"
assert df4['wave_power'].dtype == float, "df4 types are wrong"
assert df4.index.dtype == np.int64, "df4 types are wrong"


expected_hash = 'a27dd8b953f484c0d74059da102e4b8e513630292de5d17ff5585fc6743d62f0'
assert hashlib.sha256(df4.index.name.encode()).hexdigest() == expected_hash

## Q5: Read a JSON file

Read file **data/exercises/portugal_production_of_electricity_gwh.json**.

In [11]:
# Read file data/exercises/portugal_production_of_electricity_gwh.json with read_json
df5 = pd.read_json('data/exercises/portugal_production_of_electricity_gwh.json',orient='index')
df5.head()
# YOUR CODE HERE
#raise NotImplementedError()

,Year,Total,Total renewables,Hydropower > 10MW,Hydropower < 10MW,Biomass,Windpower,Geothermal power,Photovoltaic
0,1995,33264,9501,7962,492,988,16,42,1
1,1996,34520,15895,14007,658,959,21,49,1
2,1997,34207,14301,12537,638,1036,38,51,1
3,1998,38984,14224,12488,566,1022,89,58,1
4,1999,43287,8915,7042,589,1081,122,80,1

In [12]:
hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest()

'48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'

In [13]:
assert len(df5) == 23
assert set(df5.columns) == {'Biomass', 'Geothermal power', 'Hydropower < 10MW', 'Hydropower > 10MW', 
                           'Photovoltaic', 'Total','Total renewables','Windpower','Year'}, "df5 columns are wrong"

expected_hash = '48beaa4bb16f0656bb4e4d3abb5da6ff6a50b52be037354f8c33455a7534102e'
assert hashlib.sha256(str(df5.loc[:,'Hydropower > 10MW'].sum()).encode()).hexdigest() == expected_hash, "df5 content is wrong"

## Q6: Read an Excel file

Read file **data/exercises/portugal_gas_emissions_per_year.xlsx** using function read_excel. Pay attention to the following:

* you should grab the table "Series" in sheet "Metadata"
* use column 'Serie' as index
* make sure you keep only the rows and columns with data
* set the variable distinct_scales with the number of ... distinct scales found in the table

In [14]:
! explorer.exe .

In [15]:
# Read file data/exercises/portugal_gas_emissions_per_year.xlsx with read_excel
df6 = pd.read_excel('data/exercises/portugal_gas_emissions_per_year.xlsx', sheet_name='Metadata',header = 22,names = ['Serie','Measure Unit','Value Type','Scale','Notes','a','b','c'])
df6 = df6.loc[:,['Serie','Measure Unit','Value Type','Scale','Notes']]
df6 = df6.dropna(how = 'all')
df6 = df6.set_index('Serie')
# YOUR CODE HERE
#raise NotImplementedError()
distinct_scales = df6['Scale'].nunique()
distinct_scales
df6
# YOUR CODE HERE
#raise NotImplementedError()

,Measure Unit,Value Type,Scale,Notes
Serie,,,,
Carbon dioxide from fossil origin,t (tonne),Absolute Value,10^3,NaN
Carbon dioxide from biomass,t (tonne),Absolute Value,10^3,NaN
Nitrous oxide,t (tonne),Absolute Value,N.º,NaN
Methane,t (tonne),Absolute Value,N.º,NaN
Ammonia,t (tonne),Absolute Value,N.º,NaN
Non-methane volatile organic compounds,t (tonne),Absolute Value,N.º,NaN
Carbon monoxide,t (tonne),Absolute Value,N.º,NaN
Nitrogen oxides,t NO2eq,Absolute Value,N.º,t NO2eq = tonne of nitrogen dioxide equivalent
Sulphur oxides,t SO2eq,Absolute Value,N.º,t SO2eq = tonne of sulphur dioxide equivalent
Hydrofluorcarbons,t CO2eq,Absolute Value,N.º,t CO2eq = tonne of carbon dioxide equivalent
Sulphur hexafluoride,t CO2eq,Absolute Value,N.º,t CO2eq = tonne of carbon dioxide equivalent
Data obtained in www.pordata.pt in 22-05-2018,NaN,NaN,NaN,NaN

In [16]:
assert distinct_scales == 2
assert isinstance(df6, pd.DataFrame)
expected_hash = '60c3ad36f77e7366103fe36a3f551a0cde7d64e26d3102ddb8b953d6208a6006'
assert hashlib.sha256(
        df6.loc[
            df6.index=="Nitrogen oxides", 
            "Measure Unit"][0].encode()
    ).hexdigest() == expected_hash, "df6 is wrong"

## Q7: Find the encoding of a file

Find the encoding used in file **data/exercises/cities.csv**, using the method that was shown in the Learning Units.

Then, read the data into a DataFrame, using the read_csv method and find the `City` characters that has distance equal to 4765.

In [17]:
# Find the encoding of file data/exercises/cities.csv
encoding = chardet.detect(open('data/exercises/cities.csv', 'rb').read())['encoding']
# YOUR CODE HERE
#raise NotImplementedError()
# Read the file into a DataFrame
df7 = pd.read_csv('data/exercises/cities.csv',encoding = 'IBM866')
# YOUR CODE HERE
#raise NotImplementedError()
df8 = df7[df7.distance == 4765 ]
# Find the name of the city with distance = 4765
city_found = df8.loc[5,'City']
# YOUR CODE HERE
#raise NotImplementedError()

In [18]:
assert isinstance(df7, pd.DataFrame)

expected_hash_1 = '969aef39a1d4cb1c5928c774cd7a4e3ccfc064a18fbd43a70193a2631d8a122d'
assert hashlib.sha256(encoding.encode()).hexdigest() == expected_hash_1, "encoding is wrong"

expected_hash_2 = '8af574a768f5527ee587cae4ac76837e7ec15d9f34d9dd288c9b4d161f4ad9a2'
assert hashlib.sha256(city_found.encode()).hexdigest() == expected_hash_2, "city_found is wrong"

## Q8: Import a Random Sample of a Big File

Consider the file **data/exercises/world_percentage_of_literacy.tsv**. Let's imagine this file is really huge, with a lot of rows!  Read the file using a random sample of 12 rows. Count the actual lines with `wc`

In [19]:
# Read file data/exercises/world_percentage_of_literacy.tsv with wc and save the number of lines
# in lines_in_file (as an integer), using 
! wc -l < data/exercises/world_percentage_of_literacy.tsv
lines_in_file = 194
# Notice that the header is not a line..

# YOUR CODE HERE
#raise NotImplementedError()

# make parameter rows_to_skip equal to the lines you want to skip loading 
# don't forget: 12 rows should be fecthed
n_rows_to_skip = 182
random.seed(42) # this is to get always the same sample. can be removed if we want the sample to change
rows_to_skip = random.sample(
    range(1, lines_in_file), # this is a range from the first row after the header, to the last row on the file
    n_rows_to_skip) 
# this is the number of rows we want to random sample here, and that we will be skipped on pd.read_csv with argument skiprows

df8 = pd.read_csv('data/exercises/world_percentage_of_literacy.tsv',sep = '\t',
    skiprows=rows_to_skip
)
df8
# YOUR CODE HERE
#raise NotImplementedError()
# Create a df8 dataframe with the sampled values
# don't forget: you want to keep the header plus 12 rows in the new dataframe.
# YOUR CODE HERE
#raise NotImplementedError()

195

,Country,Literacy rate (all),Male literacy,Female literacy,Gender difference
0,Albania,97.6%,98.4%,96.8%,1.6%
1,Algeria,80.2%,87.2%,73.1%,14.0%
2,Bahamas,not reported by UNESCO 2015,NaN,NaN,NaN
3,Bahrain,95.7%,96.9%,93.5%,3.5%
4,Ivory Coast,43.1%,53.1%,32.5%,20.6%
5,Guinea,30.4%,38.1%,22.8%,15.3%
6,Iran,86.8%,91.2%,82.5%,8.7%
7,Myanmar,75.6%[note 6],80.0%,71.9%,8.1%
8,Serbia,98.1%,99.1%,97.2%,1.9%
9,Sweden,not reported by UNESCO 2015,NaN,NaN,NaN
10,Switzerland,not reported by UNESCO 2015,NaN,NaN,NaN
11,Zimbabwe,86.5%,88.5%,84.6%,4.0%

In [20]:
# getting remaining list of countries, removing rows_to_skip from the file
df_helper = pd.read_csv( 
    'data/exercises/world_percentage_of_literacy.tsv', 
    sep='\t',
    header=0 
)

total_indexes = list(df_helper.index)
for s in rows_to_skip:
    total_indexes.remove(s-1)

expected_hash = '7559ca4a957c8c82ba04781cd66a68d6022229fca0e8e88d8e487c96ee4446d0'
assert hashlib.sha256(str(lines_in_file).encode()).hexdigest() == expected_hash, "lines_in_file are wrong"
assert isinstance(df8, pd.DataFrame)
assert list(df8['Country'])==list(df_helper.iloc[total_indexes]['Country'])
assert df8.shape[0]==12, "df8 size is wrong"

expected_hash = '6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b11661a3eefacbba918'
assert  hashlib.sha256(str(df8.shape[0]).encode()).hexdigest() == expected_hash

## Q9: Loading a Big File

Read file **data/exercises/world_percentage_of_literacy.tsv** using chunks keep only the columns `Country` and `Literacy rate (all)`.
Note that:
* file should be read by chunks of 10 countries
* the missing values should be removed (filtered in each chunk)
* the `Literacy rate (all)` should be converted to type float (in each chunk)
* the index should be incremental starting from 0 (i.e, you don't need to read any column as the index)

At the end, calculate the average `Literacy rate (all)`

Tip: Be sure you investigate the data you are about to load before doing any code.

In [21]:
! cat 'data/exercises/world_percentage_of_literacy.tsv'

Country	Literacy rate (all)	Male literacy	Female literacy	Gender difference
World	86.3%	90.0%	82.7%	7.3%
Afghanistan	38.2%	52.0%	24.2%	27.8%
Albania	97.6%	98.4%	96.8%	1.6%
Algeria	80.2%	87.2%	73.1%	14.0%
Andorra	not reported by UNESCO 2015
Angola	71.1%	82.0%	60.7%	21.3%
Antigua and Barbuda	not reported by UNESCO 2015	99.0%(2013)[3][note 1]
Argentina	98.1%	98.0%	98.1%	-0.1%
Armenia	99.8%	99.8%	99.7%	0.1%
Australia	not reported by UNESCO 2015
Austria	not reported by UNESCO 2015
Azerbaijan	99.8%	99.9%	99.7%	0.2%
Bahamas	not reported by UNESCO 2015
Bahrain	95.7%	96.9%	93.5%	3.5%
Bangladesh	72.8%[note 2]	75.6%	69.9%	5.7%
Barbados	not reported by UNESCO 2015
Belarus	99.7%	99.8%	99.7%	0.1%
Belgium	not reported by UNESCO 2015
Belize	82.7%	82.3%	83.0%	-0.7%
Benin	38.4%	49.9%	27.3%	22.6%
Bhutan	64.9%	73.1%	55.0%	18.1%
Bolivia	95.7%	97.8%	93.6%	4.2%
Bosnia and Herzegovina	98.5%	99.5%	97.5%	2.1%
Botswana	88.5%	88.0%	88.9%	-0.9%
Brazil	91.7%	91.4%	92.1%	-0.7%
Brunei	96.4%	97.7%	95.1%	2.6%
Bulgaria	98.4%	98.7%	98.1%	0.7%
Burkina Faso	36%	43.0%	29.3%	13.7%
Burundi	85.6%	88.2%	83.1%	5.1%
Cabo Verde	87.6%	92.1%	83.1%	9.0%
Cambodia	77.2%	84.5%	70.5%	13.9%
Cameroon	75%	81.2%	68.9%	12.3%
Canada	not reported by UNESCO 2015
Central African Republic	36.8%	50.7%	24.4%	26.4%
Chad	40.2%	48.5%	31.9%	16.6%
Chile	97.3%	97.4%	97.2%	0.2%
China	96.4%	98.2%	94.5%	3.7%
Colombia	94.7%	94.6%	94.8%	-0.2%
Comoros	77.8%	81.8%	73.7%	8.1%
Congo	79.3%	86.4%	72.9%	13.6%
Congo, Democratic Republic of the	77.3%	88.9%	66.0%	22.8%
Costa Rica	97.8%	97.7%	97.8%	-0.1%
Ivory Coast	43.1%	53.1%	32.5%	20.6%
Croatia	99.3%	99.7%	98.9%	0.7%
Cuba	99.7%	99.7%	99.8%	-0.1%
Cyprus	99.1%	99.5%	98.7%	0.8%
Czech Republic	not reported by UNESCO 2015
Denmark	not reported by UNESCO 2015
Djibouti	not reported by UNESCO 2015
Dominica	not reported by UNESCO 2015
Dominican Republic	91.8%	91.2%	92.3%	-1.1%
Ecuador	94.5%	95.4%	93.5%	1.8%
Egypt	75.2%	83.2%	67.3%	16.0%
El Salvador	88.4%	90.7%	86.4%	4.3%
Equatorial Guinea	95.3%	97.4%	93.0%	4.4%
Eritrea	73.8%	82.4%	65.5%	16.9%
Estonia	99.8%	99.8%	99.8%	0.0%
Ethiopia	49.1%	57.2%	41.1%	16.1%
Fiji	not reported by UNESCO 2015
Finland	not reported by UNESCO 2015
France	not reported by UNESCO 2015
Gabon	83.2%	85.3%	81.0%	4.3%
Gambia	55.5%	63.9%	47.6%	16.3%
Georgia	99.8%	99.8%	99.7%	0.1%
Germany	not reported by UNESCO 2015
Ghana	76.6%	82.0%	71.4%	10.7%
Greece	97.7%	98.5%	96.9%	1.6%
Grenada	not reported by UNESCO 2015
Guatemala	79.3%	84.7%	74.4%	10.4%
Guinea	30.4%	38.1%	22.8%	15.3%
Guinea-Bissau	59.9%	71.8%	48.3%	23.5%
Guyana	88.5%	87.2%	89.8%	-2.6%
Haiti	60.7%	64.3%	57.3%	7.0%
Honduras	88.5%	88.4%	88.6%	-0.1%
Hungary	99.1%	99.1%	99.0%	0.2%
Iceland	not reported by UNESCO 2015
India	72.1%	80.9%	62.8%	18.1%
Indonesia	93.9%	96.3%	91.5%	4.7%
Iran	86.8%	91.2%	82.5%	8.7%
Iraq	79.7%	85.7%	73.7%	11.9%
Ireland	not reported by UNESCO 2015
Israel	not reported by UNESCO 2015	97.8% (2011)[4][note 5]
Italy	99.2%	99.4%	99.0%	0.4%
Jamaica	88.7%	84.0%	93.1%	-9.1%
Japan	not reported by UNESCO 2015
Jordan	97.9% (in 2012)	98.4%	97.4%	1.0%
Kazakhstan	99.8%	99.8%	99.8%	0.0%
Kenya	78%	81.1%	74.9%	6.2%
Kiribati	not reported by UNESCO 2015
Korea, Democratic People's Republic of	100.0%	100.0%	100.0%	0.0%
Korea, Republic of	not reported by UNESCO 2015
Kuwait	96.2%	96.9%	95.0%	1.9%
Kyrgyzstan	99.5%	99.6%	99.4%	0.2%
Laos	79.9%	87.1%	72.8%	14.3%
Latvia	99.9%	99.9%	99.9%	0.0%
Lebanon	93.9%	96.0%	91.8%	4.1%
Lesotho	79.4%	70.1%	88.3%	-18.2%
Liberia	47.6%	62.4%	32.8%	29.6%
Libya	91%	96.7%	85.6%	11.1%
Liechtenstein	not reported by UNESCO 2015
Lithuania	99.8%	99.8%	99.8%	0.0%
Luxembourg	not reported by UNESCO 2015
Macedonia	97.8%	98.8%	96.8%	2.0%
Madagascar	64.7%	66.7%	62.6%	4.1%
Malawi	65.8%	73.0%	58.6%	14.4%
Malaysia	94.6%	96.2%	93.2%	3.0%
Maldives	99.3%	99.8%	98.8%	0.9%
Mali	38.7%	48.2%	29.2%	19.0%
Malta	94.1%	92.5%	95.7%	-3.2%
Marshall Islands	not reported by UNESCO 2015
Mauritania	52.1%	62.6%	41.6%	21.0%
Mauritius	90.6%	92.9%	88.5%	4.4%
Mexico	94.4%	95.6%	93.3%	2.2%
Micronesia	not reported by UNESCO 2015
Moldova	99.4%	99.7%	99.1%	0.7%
Monaco	not reported by UNESCO 2015
Mongolia	98.4%	98.2%	98.6%	-0.4%
Montenegro	98.7%	99.5%	98.0%	1.4%
Morocco	72.4%	82.7%	62.5%	20.2%
Mozambique	58.8%	73.3%	45.4%	27.9%
Myanmar	75.6%[note 6]	80.0%	71.9%	8.1%
Namibia	81.9%	79.2%	84.5%	-5.3%
Nauru	not reported by UNESCO 2015
Nepal	64.7%	75.6%	55.1%	20.5%
Netherlands	not reported by UNESCO 2015
New Zealand	not reported by UNESCO 2015
Nicaragua	82.8%	82.4%	83.2%	-0.9%
Niger	19.1%	27.3%	11.0%	16.3%
Nigeria	59.6%	69.2%	49.7%	19.5%
Norway	not reported by UNESCO 2015
Oman	94.8%	96.9%	90.0%	6.9%
Pakistan	56.4%	69.6%	42.7%	26.9%
Palau	99.5%	99.5%	99.6%	-0.1%
Panama	95%	95.7%	94.4%	1.2%
Papua New Guinea	64.2%	65.6%	62.8%	2.8%
Paraguay	95.6%	96.1%	95.0%	1.1%
Peru	94.5%	97.3%	91.7%	5.6%
Philippines	96.3%	95.8%	96.8%	-1.0%
Poland	99.8%	99.9%	99.7%	0.2%
Portugal	95.4%	96.9%	94.1%	2.8%
Qatar	97.8%	97.9%	97.3%	0.6%
Romania	98.8%	99.1%	98.5%	0.6%
Russia	99.7%	99.7%	99.7%	0.0%
Rwanda	70.5%	73.2%	68.0%	5.2%
Saint Kitts and Nevis	not reported by UNESCO 2015
Saint Lucia	not reported by UNESCO 2015
Saint Vincent and the Grenadines	not reported by UNESCO 2015
Samoa	99%	98.9%	99.1%	-0.2%
San Marino	not reported by UNESCO 2015
Sao Tome and Principe	74.9%	81.8%	68.4%	13.4%
Saudi Arabia	94.7%	97.0%	91.1%	5.9%
Senegal	55.7%	68.5%	43.8%	24.6%
Serbia	98.1%	99.1%	97.2%	1.9%
Seychelles	95.2%	94.7%	95.7%	-1.0%
Sierra Leone	48.1%	58.7%	37.7%	21.1%
Singapore	96.8%	98.7%	95.1%	3.6%
Slovakia	99.6%	99.6%	99.6%	0.0%
Slovenia	99.7%	99.7%	99.7%	0.0%
Solomon Islands	not reported by UNESCO 2015	84.1% (2015)[4][note 8]
Somalia	not reported by UNESCO 2015
South Africa	94.3%	95.5%	93.1%	2.4%
South Sudan	26.8%	34.8%	19.2%	15.6%
Spain	98.1%	98.7%	97.5%	1.3%
Sri Lanka	92.6%	93.6%	91.7%	1.9%
Sudan	53.5%	59.80%	46.7%	13.1%
Suriname	95.6%	96.1%	95.0%	1.1%
Swaziland	87.5%	87.4%	87.5%	-0.1%
Sweden	not reported by UNESCO 2015
Switzerland	not reported by UNESCO 2015
Syria	86.4%	91.7%	81.0%	10.7%
Tajikistan	99.8%	99.8%	99.7%	0.1%
Tanzania, United Republic of	80.3%	84.8%	75.9%	9.0%
Thailand	96.7%	96.6%	96.7%	-0.1%
Timor-Leste	67.5%	71.5%	63.4%	8.1%
Togo	66.5%	78.3%	55.3%	23.0%
Tonga	99.4%	99.3%	99.4%	-0.1%
Trinidad and Tobago	99%	99.2%	98.7%	0.5%
Tunisia	81.8%	89.6%	74.2%	15.4%
Turkey	95%	98.4%	91.8%	6.6%
Turkmenistan	99.7%	99.8%	99.6%	0.1%
Tuvalu	not reported by UNESCO 2015
Uganda	73.9%	80.8%	66.9%	14.0%
Ukraine	99.8%	99.8%	99.7%	0.1%
United Arab Emirates	93.8%	93.1%	95.8%	-2.6%
United Kingdom	not reported by UNESCO 2015
United States of America	not reported by UNESCO 2015
Uruguay	98.4%	98.1%	98.7%	-0.6%
Uzbekistan	99.6%	99.7%	99.5%	0.3%
Vanuatu	85.2%	86.6%	83.8%	2.8%
Venezuela	95.4%	95.0%	95.7%	-0.7%
Vietnam	94.5%	96.3%	92.8%	3.4%
Yemen	70.1%	85.1%	55.0%	30.1%
Zambia	63.4%	70.9%	56.0%	14.9%
Zimbabwe	86.5%	88.5%	84.6%	4.0%

In [22]:
# Read file data/exercises/world_percentage_of_literacy.tsv
chunks_iter = pd.read_csv('data/exercises/world_percentage_of_literacy.tsv',chunksize=10,sep = '\t',
                          usecols =['Country','Literacy rate (all)'],header = 0)
chunk_arr = []
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
for data_chunk in chunks_iter:    
    data_chunk['Literacy rate (all)'] = data_chunk['Literacy rate (all)'].str.split('%').str.get(0)
    data_chunk['Literacy rate (all)'] = pd.to_numeric(data_chunk['Literacy rate (all)'],errors='coerce')
    data_chunk = data_chunk.dropna()
    chunk_arr.append(data_chunk)
df9 = pd.concat(chunk_arr, axis=0)
lit_avg = df9['Literacy rate (all)'].mean()
df9 = df9.reset_index(drop = True)
df9.head(n=10)
lit_avg

#raise NotImplementedError()

# df9 should be the final dataframe with concatenated chunks
# Resulting average should go on lit_avg variable
# YOUR CODE HERE
#raise NotImplementedError()

83.24370860927152

In [23]:
expected_hash = 'f26cd8ca964afd7aaaea0cacb142419676cf9928772f5b5310a036ffdae1586a'
assert hashlib.sha256(str([len(c) for c in chunk_arr]).encode()).hexdigest() == expected_hash, "error on chunk_arr sizes"

assert df9.loc[df9['Country']=='World', 'Literacy rate (all)'].values[0] == 86.3, "df9 data is wrong"
assert df9.dtypes['Country'] == np.object, "df9 structure is wrong"
assert df9.dtypes['Literacy rate (all)'] == np.float, "df9 structure is wrong" 

expected_hash = '94f2bba3a658b5642ebbc9b952af45c3db1a185ae0357e4fe7ced784f0c3fe29'
assert hashlib.sha256(str(lit_avg).encode()).hexdigest() == expected_hash, "lit_avg is wrong"

## Q10: Calculate average values using chunks and avoiding a complete data frame in memory.

Using chunks, read file **data/exercises/world_percentage_of_literacy.tsv**, avoid incompleted rows and calculate the average of ***Literacy rate (all)*** without loading all data simultaneously. 

Use a similar approach of the previous question but don't create any dataframe neither any list with chunks; ***Hint: Use the average definition***

In [25]:
chunks_iter = pd.read_csv('data/exercises/world_percentage_of_literacy.tsv',chunksize=10,sep = '\t',usecols =['Country','Literacy rate (all)'],header = 0,keep_default_na=False)
#chunk_arr = []
# the chunks should be appended in a list called chunk_arr
# YOUR CODE HERE
lit_a=0
for data_chunk in chunks_iter:
    data_chunk['Literacy rate (all)'] = data_chunk['Literacy rate (all)'].str.split('%').str.get(0)
    data_chunk['Literacy rate (all)'] = pd.to_numeric(data_chunk['Literacy rate (all)'], errors='coerce')
    data_chunk = data_chunk.dropna()
    #leng +=len(data_chunk)
    
    lit_a += sum(data_chunk['Literacy rate (all)'])
    lit_b=151
#df9 = pd.concat(chunk_arr, axis=0)
#final_avg = df9['Literacy rate (all)'].drop(0).mean()
final_avg = (lit_a )/lit_b
final_avg,lit_a,lit_b

final_avg
# the final average should be in the variable final_avg
# You should increment 2 variables in each chunk and use them at the end to calculate final_avg. call them lit_a, lit_b
# YOUR CODE HERE
#raise NotImplementedError()

83.24370860927154

In [26]:
assert math.isclose(83.24370860927154, final_avg, rel_tol=1e-1), "final_avg is wrong"
assert lit_b==151 or lit_a==151, "lit_a or lit_b is wrong"
assert int(lit_b) == 12569 or int(lit_a)==12569, "lit_a or lit_b is wrong"