In [13]:
import numpy as np
import pandas as pd
import math
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from IPython.display import Image

from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator, ClassifierMixin, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler

In [14]:
df = pd.read_csv('data/test.csv')
df.head()

,ID,DATE_DEPARTURE_UTC,DATE_ARRIVAL_UTC,DATE_DEPARTURE_LCL,DATE_ARRIVAL_LCL,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,TAIL_NUM,OP_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15
0,425552,2020-01-23 01:26:00,2020-01-23 02:52:00,2020-01-22 20:26:00,2020-01-22 21:52:00,LGA,12953,BGR,10581,N8894A,9E,20363,5032,378.0,0,NaN
1,415418,2020-01-23 01:26:00,2020-01-23 03:04:00,2020-01-22 19:26:00,2020-01-22 22:04:00,MDW,13232,PHL,14100,N8615E,WN,19393,1168,668.0,0,NaN
2,414222,2020-01-23 01:26:00,2020-01-23 03:06:00,2020-01-22 18:26:00,2020-01-22 19:06:00,DEN,11292,LAS,12889,N7853B,WN,19393,799,628.0,0,NaN
3,421432,2020-01-23 01:26:00,2020-01-23 02:48:00,2020-01-22 17:26:00,2020-01-22 18:48:00,SJC,14831,SAN,14679,N7812G,WN,19393,4454,417.0,0,0.0
4,421356,2020-01-23 01:26:00,2020-01-23 02:24:00,2020-01-22 17:26:00,2020-01-22 18:24:00,SJC,14831,BUR,10800,N7859B,WN,19393,2024,296.0,0,NaN

In [51]:
df[df.DISTANCE==0].count()

ID                       0
DATE_DEPARTURE_UTC       0
DATE_ARRIVAL_UTC         0
DATE_DEPARTURE_LCL       0
DATE_ARRIVAL_LCL         0
ORIGIN                   0
ORIGIN_AIRPORT_ID        0
DEST                     0
DEST_AIRPORT_ID          0
TAIL_NUM                 0
OP_CARRIER               0
OP_CARRIER_AIRLINE_ID    0
OP_CARRIER_FL_NUM        0
DISTANCE                 0
CANCELLED                0
DEP_DEL15                0
dtype: int64

In [15]:
df2 = pd.read_csv('data/train.csv')
df2.head()

,ID,DATE_DEPARTURE_UTC,DATE_ARRIVAL_UTC,DATE_DEPARTURE_LCL,DATE_ARRIVAL_LCL,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,TAIL_NUM,OP_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15,ARR_DEL15
0,345355,2020-01-18 22:10:00,2020-01-18 23:59:00,2020-01-18 15:10:00,2020-01-18 15:59:00,SLC,14869,SNA,14908,N128DU,DL,19790,1056,588.0,0,0.0,0
1,323447,2020-01-17 21:47:00,2020-01-18 04:10:00,2020-01-17 16:47:00,2020-01-17 20:10:00,BOS,10721,SEA,14747,N486AS,AS,19930,15,2496.0,0,NaN,0
2,242237,2020-01-13 13:26:00,2020-01-13 14:26:00,2020-01-13 07:26:00,2020-01-13 08:26:00,DAL,11259,HOU,12191,N901WN,WN,19393,3,239.0,0,NaN,0
3,271408,2020-01-15 02:45:00,2020-01-15 03:37:00,2020-01-14 20:45:00,2020-01-14 21:37:00,STL,15016,DSM,11423,N778SW,WN,19393,1588,259.0,0,0.0,0
4,282447,2020-01-15 23:22:00,2020-01-16 00:49:00,2020-01-15 18:22:00,2020-01-15 19:49:00,CLT,11057,CHS,10994,N579NN,OH,20397,5207,168.0,0,NaN,1

In [8]:
df2.shape

(419487, 17)

In [11]:
data = pd.read_csv("data/train.csv") 
for i in data.columns:
    print(i)
    print("unique values:", data[i].unique())
    print("Nr unique values:", len(data[i].unique()))
    print("value_counts:", data[i].value_counts())

ID
unique values: [345355 323447 242237 ... 365119  71648 224261]
Nr unique values: 419487
value_counts: 2047      1
115858    1
70792     1
72841     1
66698     1
         ..
270801    1
276946    1
274899    1
264660    1
0         1
Name: ID, Length: 419487, dtype: int64
DATE_DEPARTURE_UTC
unique values: ['2020-01-18 22:10:00' '2020-01-17 21:47:00' '2020-01-13 13:26:00' ...
 '2020-01-15 05:32:00' '2020-01-10 07:58:00' '2020-01-17 08:49:00']
Nr unique values: 29661
value_counts: 2020-01-09 11:55:00    52
2020-01-06 11:56:00    49
2020-01-17 11:55:00    48
2020-01-16 11:54:00    47
2020-01-16 12:55:00    46
                       ..
2020-01-12 06:02:00     1
2020-01-22 07:56:00     1
2020-01-10 06:09:00     1
2020-01-18 07:48:00     1
2020-01-18 10:15:00     1
Name: DATE_DEPARTURE_UTC, Length: 29661, dtype: int64
DATE_ARRIVAL_UTC
unique values: ['2020-01-18 23:59:00' '2020-01-18 04:10:00' '2020-01-13 14:26:00' ...
 '2020-01-23 05:44:00' '2020-01-17 07:45:00' '2020-01-22 07:55:00']
Nr unique values: 30137
value_counts: 2020-01-13 23:51:00    38
2020-01-07 20:34:00    37
2020-01-02 23:41:00    37
2020-01-20 21:36:00    37
2020-01-20 17:23:00    36
                       ..
2020-01-19 11:47:00     1
2020-01-11 08:57:00     1
2020-01-15 08:37:00     1
2020-01-09 08:06:00     1
2020-01-17 11:01:00     1
Name: DATE_ARRIVAL_UTC, Length: 30137, dtype: int64
DATE_DEPARTURE_LCL
unique values: ['2020-01-18 15:10:00' '2020-01-17 16:47:00' '2020-01-13 07:26:00' ...
 '2020-01-07 00:26:00' '2020-01-08 01:09:00' '2020-01-17 00:49:00']
Nr unique values: 26687
value_counts: 2020-01-03 05:56:00    71
2020-01-21 05:55:00    69
2020-01-09 05:55:00    68
2020-01-06 05:56:00    68
2020-01-13 05:55:00    67
                       ..
2020-01-18 02:15:00     1
2020-01-15 03:48:00     1
2020-01-18 01:01:00     1
2020-01-04 01:44:00     1
2020-01-02 00:09:00     1
Name: DATE_DEPARTURE_LCL, Length: 26687, dtype: int64
DATE_ARRIVAL_LCL
unique values: ['2020-01-18 15:59:00' '2020-01-17 20:10:00' '2020-01-13 08:26:00' ...
 '2020-01-16 04:49:00' '2020-01-18 01:53:00' '2020-01-03 01:27:00']
Nr unique values: 28477
value_counts: 2020-01-02 17:28:00    41
2020-01-09 19:44:00    40
2020-01-19 20:20:00    37
2020-01-16 14:40:00    37
2020-01-02 19:10:00    36
                       ..
2020-01-01 03:35:00     1
2020-01-21 04:37:00     1
2020-01-08 02:34:00     1
2020-01-07 05:49:00     1
2020-01-02 02:03:00     1
Name: DATE_ARRIVAL_LCL, Length: 28477, dtype: int64
ORIGIN
unique values: ['SLC' 'BOS' 'DAL' 'STL' 'CLT' 'DFW' 'LAX' 'BUR' 'SFO' 'SJC' 'RAP' 'TUS'
 'ATL' 'ISP' 'OKC' 'DEN' 'SEA' 'MEM' 'DCA' 'PHX' 'MDW' 'IAH' 'CVG' 'FAR'
 'LGA' 'MSY' 'ORD' 'EGE' 'HSV' 'FLL' 'DTW' 'MSP' 'PDX' 'SNA' 'HOB' 'LBB'
 'LGB' 'CMI' 'AMA' 'SDF' 'SAT' 'ELP' 'SJU' 'JAX' 'LAS' 'CLE' 'PBI' 'MKE'
 'PHL' 'SAN' 'ANC' 'OAK' 'SRQ' 'IND' 'EVV' 'SAF' 'MCO' 'TPA' 'DLH' 'MCI'
 'MLU' 'KOA' 'RSW' 'RDU' 'GSO' 'HOU' 'IAD' 'MAF' 'JFK' 'PIT' 'LAW' 'BWI'
 'SMF' 'EWR' 'ONT' 'PVD' 'ROW' 'SBN' 'HNL' 'SYR' 'CHS' 'BTV' 'FWA' 'EYW'
 'DRO' 'MOT' 'BPT' 'FAI' 'GSP' 'BDL' 'AVL' 'BNA' 'SGF' 'RIC' 'DAB' 'TYR'
 'MIA' 'PSP' 'CMH' 'RNO' 'MHT' 'TVC' 'AUS' 'TUL' 'ABQ' 'BZN' 'COS' 'PGD'
 'LIT' 'COU' 'BOI' 'GRR' 'FNT' 'ATW' 'PIE' 'ITO' 'BHM' 'OMA' 'STS' 'JAN'
 'ALB' 'SUN' 'DAY' 'MFE' 'PNS' 'ECP' 'TYS' 'SBP' 'MTJ' 'ICT' 'GNV' 'MSN'
 'ACT' 'ROC' 'SCK' 'DSM' 'PSC' 'MFR' 'CID' 'ILM' 'GTF' 'LIH' 'SFB' 'BMI'
 'PIA' 'AEX' 'GEG' 'HPN' 'ORF' 'CHA' 'AZA' 'OGG' 'MDT' 'SHV' 'TRI' 'HRL'
 'MKG' 'CAE' 'AGS' 'FAT' 'LEX' 'BJI' 'YUM' 'CKB' 'ATY' 'VPS' 'FSD' 'SCE'
 'EWN' 'ASE' 'PWM' 'GPT' 'ERI' 'CRW' 'CRP' 'BUF' 'BIL' 'HDN' 'XWA' 'HHH'
 'ORH' 'ROA' 'BFL' 'CHO' 'RDM' 'MLB' 'BTR' 'MYR' 'XNA' 'GJT' 'USA' 'FAY'
 'SPI' 'GRK' 'GRB' 'JNU' 'SGU' 'BRO' 'BIS' 'JMS' 'RKS' 'SBA' 'SAV' 'GTR'
 'LCH' 'BQK' 'JAC' 'AVP' 'JLN' 'INL' 'BLI' 'EAU' 'ESC' 'STT' 'KTN' 'PSE'
 'MRY' 'SWF' 'ACY' 'MBS' 'ABE' 'BGR' 'SIT' 'SUX' 'LNK' 'RST' 'LWS' 'LWB'
 'STX' 'FCA' 'VLD' 'LAN' 'OME' 'MGM' 'MOB' 'TLH' 'RIW' 'GCK' 'RDD' 'PIH'
 'SJT' 'CAK' 'GGG' 'LFT' 'BLV' 'MLI' 'GFK' 'PAE' 'CGI' 'LAR' 'EUG' 'FSM'
 'TTN' 'PIB' 'IDA' 'ABR' 'LBF' 'PVU' 'ELM' 'FLG' 'MQT' 'MSO' 'AZO' 'BRD'
 'BQN' 'RFD' 'IAG' 'CIU' 'ACV' 'CSG' 'EAR' 'PRC' 'CLL' 'TOL' 'LCK' 'ABI'
 'LBE' 'ALO' 'GUC' 'HLN' 'CYS' 'CDC' 'IMT' 'GCC' 'PHF' 'SLN' 'MHK' 'DHN'
 'TXK' 'PBG' 'GRI' 'HYS' 'LSE' 'OAJ' 'DRT' 'PLN' 'WRG' 'PIR' 'PSM' 'BTM'
 'SPS' 'LRD' 'TWF' 'CWA' 'PSG' 'LYH' 'EKO' 'HTS' 'GUM' 'MMH' 'PAH' 'YAK'
 'UIN' 'HIB' 'OTZ' 'HVN' 'RHI' 'ABY' 'CNY' 'SCC' 'DVL' 'CPR' 'ITH' 'APN'
 'BET' 'BFF' 'PUB' 'SWO' 'SPN' 'HGR' 'LBL' 'PPG' 'DBQ' 'BRW' 'ADQ' 'CMX'
 'VEL' 'MEI' 'SHR' 'BGM' 'ADK' 'SHD' 'COD' 'BFM' 'STC' 'OGS' 'CDV' 'SMX'
 'OWB' 'OTH' 'OGD']
Nr unique values: 351
value_counts: ATL    22241
ORD    17135
DFW    16679
DEN    14145
CLT    13903
       ...
OGD        6
PPG        6
OWB        6
ADK        6
COD        1
Name: ORIGIN, Length: 351, dtype: int64
ORIGIN_AIRPORT_ID
unique values: [14869 10721 11259 15016 11057 11298 12892 10800 14771 14831 14457 15376
 10397 12391 13851 11292 14747 13244 11278 14107 13232 12266 11193 11637
 12953 13495 13930 11503 12217 11697 11433 13487 14057 14908 12177 12896
 12954 11067 10279 14730 14683 11540 14843 12451 12889 11042 14027 13342
 14100 14679 10299 13796 14986 12339 11612 14674 13204 15304 11337 13198
 13377 12758 14635 14492 11995 12191 12264 13158 12478 14122 12891 10821
 14893 11618 13891 14307 14588 14696 12173 15096 10994 10785 11823 11624
 11413 13433 10728 11630 11996 10529 10431 10693 14783 14524 11252 15411
 13303 14262 11066 14570 13296 15380 10423 15370 10140 10849 11109 14082
 12992 11111 10713 11986 11721 10408 14112 12402 10599 13871 15023 12448
 10257 15041 11267 13256 14193 11481 15412 14698 13502 12278 11953 13485
 10155 14576 14716 11423 14252 13264 11003 12323 12003 12982 14761 10685
 14108 10185 11884 12197 13931 10980 10466 13830 13230 14814 15323 12206
 13344 10868 10208 11638 12945 10631 16218 11027 10409 15624 11775 14711
 11617 10372 14321 11973 11577 11146 11140 10792 10620 12094 16869 12124
 13933 14574 10561 10990 14489 13360 10781 13577 15919 11921 12544 11641
 14952 11982 11977 12523 14794 10747 10627 12519 14543 14689 14685 12007
 12915 10731 12441 10434 12511 12343 10666 11471 11587 15024 12819 14254
 13476 15070 10158 13184 10135 10581 14828 15048 13029 14633 13127 13121
 15027 11648 15607 12884 13873 13277 13422 15249 14534 11867 14487 14113
 14842 10874 11905 12951 10676 13367 11898 14004 10967 12888 11603 11778
 15356 14109 12280 10141 12899 14314 11537 11695 13459 13486 10469 10739
 10732 14512 12265 11013 10157 11150 11468 14237 11049 15295 12917 10136
 12898 10268 12012 12156 11233 10918 12335 11865 14098 14877 13290 11308
 15401 14025 11980 12255 13076 13795 11415 14150 15841 14120 14259 10779
 14960 13061 15389 11203 14256 13139 11525 12223 12016 13388 14006 15991
 15454 12129 13970 12244 14520 10146 11092 14709 11447 11122 12397 10333
 10551 10558 14288 15074 14955 12119 12902 14222 11274 10754 10170 11076
 15582 13241 14812 10577 10165 14802 11097 10562 15008 13832 10926 14905
 13983 13964 13829]
Nr unique values: 351
value_counts: 10397    22241
13930    17135
11298    16679
11292    14145
11057    13903
         ...
10165        6
14222        6
13829        6
13983        6
11097        1
Name: ORIGIN_AIRPORT_ID, Length: 351, dtype: int64
DEST
unique values: ['SNA' 'SEA' 'HOU' 'DSM' 'CHS' 'BNA' 'DFW' 'PHX' 'DTW' 'ATL' 'MCI' 'IAH'
 'BWI' 'MIA' 'DAL' 'LGA' 'BZN' 'EWR' 'FLL' 'LAS' 'RNO' 'TPA' 'SGF' 'RDU'
 'IAD' 'MSP' 'ROC' 'TUS' 'RSW' 'JFK' 'LAX' 'MDW' 'SLC' 'SFO' 'DEN' 'CLT'
 'FAT' 'STL' 'SJC' 'CVG' 'MCO' 'MEM' 'PDX' 'ORD' 'DCA' 'LIT' 'BOS' 'PNS'
 'OGG' 'BUF' 'MRY' 'PHL' 'PBI' 'HNL' 'OMA' 'ORF' 'CID' 'MSY' 'GSO' 'LFT'
 'ONT' 'FWA' 'LGB' 'AUS' 'CLE' 'STT' 'SAN' 'OAK' 'ACT' 'KOA' 'TUL' 'GRR'
 'ILM' 'BDL' 'LEX' 'HPN' 'PSP' 'ANC' 'SJU' 'SDF' 'ACY' 'SBA' 'GSP' 'LIH'
 'JAN' 'IND' 'SUN' 'INL' 'OAJ' 'EGE' 'RFD' 'MKE' 'SMF' 'JAX' 'ICT' 'BOI'
 'MSO' 'SAT' 'OKC' 'YUM' 'LBB' 'AVL' 'PIT' 'BTV' 'MHK' 'ELP' 'SGU' 'HSV'
 'SRQ' 'DAY' 'HVN' 'ELM' 'GPT' 'ITO' 'CMH' 'HRL' 'TYS' 'RIC' 'ALB' 'BUR'
 'BTR' 'GEG' 'MFE' 'BFL' 'MLB' 'CRP' 'TTN' 'PGD' 'BHM' 'PVD' 'MAF' 'ISP'
 'HTS' 'ORH' 'ACV' 'ABQ' 'BIS' 'ATW' 'GJT' 'PWM' 'BGR' 'ASE' 'RDM' 'CSG'
 'DRO' 'CMX' 'MSN' 'STS' 'CHO' 'MBS' 'PRC' 'MOB' 'MMH' 'XNA' 'MEI' 'DHN'
 'GRB' 'FAR' 'ABE' 'VEL' 'CAK' 'AGS' 'GNV' 'HDN' 'ADQ' 'JAC' 'CPR' 'MLU'
 'TRI' 'HOB' 'GRI' 'BIL' 'MOT' 'FSD' 'CAE' 'EYW' 'GTF' 'CRW' 'AMA' 'ROW'
 'FAI' 'KTN' 'VPS' 'FLG' 'SCK' 'SHV' 'EUG' 'FNT' 'SIT' 'FAY' 'BGM' 'MFR'
 'MLI' 'PIH' 'MDT' 'RAP' 'MTJ' 'OGS' 'LAR' 'DVL' 'TOL' 'LAN' 'SBN' 'TYR'
 'AZO' 'RHI' 'LYH' 'HHH' 'GRK' 'TLH' 'MYR' 'ATY' 'DLH' 'VLD' 'PBG' 'LRD'
 'CLL' 'SAV' 'SBP' 'PSC' 'LCH' 'WRG' 'EVV' 'BQN' 'SUX' 'MKG' 'SYR' 'AVP'
 'CMI' 'JNU' 'HYS' 'TVC' 'CDC' 'DAB' 'PAH' 'AEX' 'COS' 'ECP' 'MGM' 'SWF'
 'EWN' 'SAF' 'BMI' 'EAU' 'ITH' 'CHA' 'LAW' 'SHD' 'XWA' 'JLN' 'LBE' 'PAE'
 'TWF' 'SFB' 'ABI' 'GFK' 'SCE' 'PIA' 'BLV' 'USA' 'PIE' 'AZA' 'RDD' 'HIB'
 'SPI' 'PUB' 'TXK' 'FCA' 'MHT' 'GCK' 'SPS' 'FSM' 'BRO' 'GGG' 'ERI' 'ROA'
 'BLI' 'UIN' 'IDA' 'GTR' 'COU' 'RKS' 'LCK' 'SJT' 'LSE' 'HLN' 'SLN' 'ABY'
 'BPT' 'LNK' 'CKB' 'JMS' 'GUM' 'PLN' 'ESC' 'RST' 'LWB' 'LWS' 'CIU' 'BFF'
 'BFM' 'BTM' 'BET' 'PSG' 'LBF' 'CWA' 'PVU' 'IMT' 'PSM' 'SCC' 'DBQ' 'BJI'
 'ADK' 'GUC' 'SWO' 'BRW' 'STX' 'CGI' 'SHR' 'OME' 'OTH' 'MQT' 'PHF' 'IAG'
 'OTZ' 'ABR' 'PSE' 'PIB' 'GCC' 'ALO' 'LBL' 'SPN' 'HGR' 'EAR' 'BQK' 'YAK'
 'APN' 'BRD' 'PPG' 'EKO' 'CDV' 'PIR' 'STC' 'RIW' 'CYS' 'SMX' 'DRT' 'CNY'
 'OWB' 'OGD']
Nr unique values: 350

value_counts: ATL    22393
ORD    17193
DFW    16746
DEN    14202
CLT    13959
       ...
BFM        9
ADK        7
PPG        6
OGD        6
OWB        6
Name: DEST, Length: 350, dtype: int64
DEST_AIRPORT_ID
unique values: [14908 14747 12191 11423 10994 10693 11298 14107 11433 10397 13198 12266
 10821 13303 11259 12953 10849 11618 11697 12889 14570 15304 14783 14492
 12264 13487 14576 15376 14635 12478 12892 13232 14869 14771 11292 11057
 11638 15016 14831 11193 13204 13244 14057 13930 11278 12992 10721 14193
 13830 10792 13476 14100 14027 12173 13871 13931 11003 13495 11995 12951
 13891 11823 12954 10423 11042 15024 14679 13796 10155 12758 15370 11986
 12323 10529 12945 12197 14262 10299 14843 14730 10158 14689 11996 12982
 12448 12339 15041 12343 13795 11503 14512 13342 14893 12451 12278 10713
 13486 14683 13851 16218 12896 10431 14122 10785 13290 11540 14794 12217
 14986 11267 12244 11537 11973 12402 11066 12206 15412 14524 10257 10800
 10781 11884 13256 10561 13360 11140 15356 14082 10599 14307 13158 12391
 12223 13933 10157 10140 10627 10408 11921 14321 10581 10372 14489 11150
 11413 11076 13485 15023 10990 13184 14237 13422 13388 15919 13241 11308
 11977 11637 10135 15582 10874 10208 11953 12094 10170 12441 11122 13377
 15323 12177 11980 10620 13433 11775 10868 11624 12003 11146 10279 14588
 11630 12819 15624 11695 14716 14814 11603 11721 14828 11641 10577 13264
 13367 14113 13230 14457 13502 13832 12888 11447 15295 12884 14696 15411
 10469 14520 13139 12124 11982 15249 13577 10409 11337 15607 14025 13061
 11049 14685 14698 14252 12915 15841 11612 10732 15048 13344 15096 10434
 11067 12523 12255 15380 10918 11252 14006 10185 11109 11481 13277 15070
 11617 14674 10685 11471 12397 10980 12891 14802 16869 12511 12898 14004
 15389 14761 10136 11898 14711 14108 10676 12544 14112 10466 14487 12129
 14952 14288 15401 11648 13296 11867 14960 11778 10747 11905 11577 14574
 10666 15454 12280 12007 11111 14543 12917 14842 13076 12156 14877 10146
 10728 13029 11027 12519 12016 14150 11587 14633 13121 13127 11013 10558
 10562 10779 10551 14256 12899 11203 14314 12335 14259 14709 11274 10631
 10165 12012 15074 10754 15027 10967 14812 13873 13964 13459 14098 12265
 13970 10141 14254 14109 11865 10268 12902 14955 12119 11468 10731 15991
 10333 10739 14222 11525 10926 14120 15008 14534 11233 14905 11415 11092
 13983 13829]
Nr unique values: 350
value_counts: 10397    22393
13930    17193
11298    16746
11292    14202
11057    13959
         ...
10562        9
10165        7
13829        6
13983        6
14222        6
Name: DEST_AIRPORT_ID, Length: 350, dtype: int64
TAIL_NUM
unique values: ['N128DU' 'N486AS' 'N901WN' ... 'N209UA' 'N766AN' 'N835MH']
Nr unique values: 5376
value_counts: N488HA    238
N486HA    227
N477HA    225
N480HA    225
N494HA    211
         ...
N255NN      1
N2331U      1
N74007      1
N788UA      1
N2639U      1
Name: TAIL_NUM, Length: 5376, dtype: int64
OP_CARRIER
unique values: ['DL' 'AS' 'WN' 'OH' 'AA' 'OO' 'B6' 'YX' 'EV' '9E' 'UA' 'NK' 'MQ' 'YV'
 'F9' 'HA' 'G4']
Nr unique values: 17
value_counts: WN    75801
DL    55277
AA    52934
OO    48351
UA    33919
YX    20075
MQ    17731
B6    17399
OH    16818
9E    15843
AS    14659
YV    12252
NK    12175
F9     8689
EV     7262
G4     5375
HA     4927
Name: OP_CARRIER, dtype: int64
OP_CARRIER_AIRLINE_ID
unique values: [19790 19930 19393 20397 19805 20304 20409 20452 20366 20363 19977 20416
 20398 20378 20436 19690 20368]
Nr unique values: 17
value_counts: 19393    75801
19790    55277
19805    52934
20304    48351
19977    33919
20452    20075
20398    17731
20409    17399
20397    16818
20363    15843
19930    14659
20378    12252
20416    12175
20436     8689
20366     7262
20368     5375
19690     4927
Name: OP_CARRIER_AIRLINE_ID, dtype: int64
OP_CARRIER_FL_NUM
unique values: [1056   15    3 ... 6495 6400 6501]
Nr unique values: 6715
value_counts: 416     240
478     232
403     217
519     216
1095    209
       ...
6501      1
6315      1
6532      1
6608      1
6790      1
Name: OP_CARRIER_FL_NUM, Length: 6715, dtype: int64
DISTANCE
unique values: [ 588. 2496.  239. ... 1933. 1059.  747.]
Nr unique values: 1469
value_counts: 337.0     2522
296.0     1845
399.0     1798
733.0     1591
404.0     1587
          ...
923.0        2
1887.0       2
1884.0       2
881.0        1
747.0        1
Name: DISTANCE, Length: 1468, dtype: int64
CANCELLED
unique values: [0]
Nr unique values: 1
value_counts: 0    419487
Name: CANCELLED, dtype: int64
DEP_DEL15
unique values: [ 0. nan  1.]
Nr unique values: 3
value_counts: 0.0    232523
1.0     40144
Name: DEP_DEL15, dtype: int64
ARR_DEL15
unique values: [0 1]
Nr unique values: 2
value_counts: 0    357292
1     62195
Name: ARR_DEL15, dtype: int64

In [18]:
df2.isnull().head()

,ID,DATE_DEPARTURE_UTC,DATE_ARRIVAL_UTC,DATE_DEPARTURE_LCL,DATE_ARRIVAL_LCL,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,TAIL_NUM,OP_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15,ARR_DEL15
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False

In [21]:
df2.DEP_DEL15.isnull().value_counts()

False    272667
True     146820
Name: DEP_DEL15, dtype: int64

In [24]:
duplicated_mask = df2.duplicated(keep='first')
print('Number of duplicates:', duplicated_mask.sum())

Number of duplicates: 0

In [26]:
#target variable
df2.ARR_DEL15.isnull().sum()

0

In [28]:
col_df2_target = df2.ARR_DEL15
col_df2_target

0         0
1         0
2         0
3         0
4         1
         ..
419482    0
419483    0
419484    0
419485    0
419486    1
Name: ARR_DEL15, Length: 419487, dtype: int64

In [30]:
df2.tail()

,ID,DATE_DEPARTURE_UTC,DATE_ARRIVAL_UTC,DATE_DEPARTURE_LCL,DATE_ARRIVAL_LCL,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,TAIL_NUM,OP_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15,ARR_DEL15
419482,374775,2020-01-21 00:54:00,2020-01-21 01:58:00,2020-01-20 16:54:00,2020-01-20 17:58:00,ONT,13891,OAK,13796,N278WN,WN,19393,1475,362.0,0,0.0,0
419483,295665,2020-01-16 17:28:00,2020-01-16 20:18:00,2020-01-16 12:28:00,2020-01-16 15:18:00,FLL,11697,JFK,12478,N2017J,B6,20409,1202,1069.0,0,0.0,0
419484,365119,2020-01-20 00:37:00,2020-01-20 03:51:00,2020-01-19 18:37:00,2020-01-19 19:51:00,IAH,12266,LAS,12889,N832UA,UA,19977,1044,1222.0,0,0.0,0
419485,71648,2020-01-04 21:43:00,2020-01-05 00:19:00,2020-01-04 15:43:00,2020-01-04 19:19:00,MKE,13342,MCO,13204,N286WN,WN,19393,3487,1066.0,0,NaN,0
419486,224261,2020-01-12 22:21:00,2020-01-12 23:05:00,2020-01-12 15:21:00,2020-01-12 16:05:00,PHX,14107,TUS,15376,N907FJ,YV,20378,5756,NaN,0,NaN,1

In [31]:
df2[df2.ARR_DEL15==1]

,ID,DATE_DEPARTURE_UTC,DATE_ARRIVAL_UTC,DATE_DEPARTURE_LCL,DATE_ARRIVAL_LCL,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,TAIL_NUM,OP_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15,ARR_DEL15
4,282447,2020-01-15 23:22:00,2020-01-16 00:49:00,2020-01-15 18:22:00,2020-01-15 19:49:00,CLT,11057,CHS,10994,N579NN,OH,20397,5207,168.0,0,NaN,1
12,186898,2020-01-11 00:52:00,2020-01-11 03:34:00,2020-01-10 19:52:00,2020-01-10 21:34:00,ATL,10397,MCI,13198,N836DN,DL,19790,1217,692.0,0,0.0,1
13,323323,2020-01-17 11:31:00,2020-01-17 16:58:00,2020-01-17 06:31:00,2020-01-17 10:58:00,BOS,10721,IAH,12266,N827JB,B6,20409,1931,1597.0,0,NaN,1
20,213353,2020-01-12 01:41:00,2020-01-12 03:48:00,2020-01-11 20:41:00,2020-01-11 22:48:00,ATL,10397,FLL,11697,N697DL,DL,19790,346,581.0,0,0.0,1
24,380003,2020-01-20 21:35:00,2020-01-20 23:43:00,2020-01-20 14:35:00,2020-01-20 15:43:00,PHX,14107,RNO,14570,N808AW,AA,19805,1888,601.0,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419460,367965,2020-01-20 05:36:00,2020-01-20 08:16:00,2020-01-19 21:36:00,2020-01-20 00:16:00,SEA,14747,LAX,12892,N842VA,AS,19930,1041,954.0,0,1.0,1
419462,284812,2020-01-16 01:23:00,2020-01-16 02:16:00,2020-01-15 15:23:00,2020-01-15 16:16:00,HNL,12173,KOA,12758,N494HA,HA,19690,348,163.0,0,NaN,1
419472,353995,2020-01-19 15:33:00,2020-01-19 17:34:00,2020-01-19 10:33:00,2020-01-19 12:34:00,ATL,10397,ROC,14576,N913DN,DL,19790,2146,749.0,0,NaN,1
419475,85043,2020-01-05 13:04:00,2020-01-05 19:15:00,2020-01-05 08:04:00,2020-01-05 11:15:00,EWR,11618,LAS,12889,N656NK,NK,20416,993,2227.0,0,NaN,1
419486,224261,2020-01-12 22:21:00,2020-01-12 23:05:00,2020-01-12 15:21:00,2020-01-12 16:05:00,PHX,14107,TUS,15376,N907FJ,YV,20378,5756,NaN,0,NaN,1

In [33]:
df2[df2.ARR_DEL15==1].shape

(62195, 17)

In [ ]:
df2_drop = df2.drop([ID	DATE_DEPARTURE_UTC	DATE_ARRIVAL_UTC	DATE_DEPARTURE_LCL	DATE_ARRIVAL_LCL	ORIGIN	ORIGIN_AIRPORT_ID	DEST	DEST_AIRPORT_ID	TAIL_NUM	OP_CARRIER	OP_CARRIER_AIRLINE_ID	OP_CARRIER_FL_NUM	DISTANCE	CANCELLED	DEP_DEL15	ARR_DEL15])

In [35]:
df2.TAIL_NUM.duplicated(keep='first').sum()

414111

In [36]:
df2.OP_CARRIER_FL_NUM.duplicated(keep='first').sum()

412772

In [37]:
df2.head()

,ID,DATE_DEPARTURE_UTC,DATE_ARRIVAL_UTC,DATE_DEPARTURE_LCL,DATE_ARRIVAL_LCL,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,TAIL_NUM,OP_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15,ARR_DEL15
0,345355,2020-01-18 22:10:00,2020-01-18 23:59:00,2020-01-18 15:10:00,2020-01-18 15:59:00,SLC,14869,SNA,14908,N128DU,DL,19790,1056,588.0,0,0.0,0
1,323447,2020-01-17 21:47:00,2020-01-18 04:10:00,2020-01-17 16:47:00,2020-01-17 20:10:00,BOS,10721,SEA,14747,N486AS,AS,19930,15,2496.0,0,NaN,0
2,242237,2020-01-13 13:26:00,2020-01-13 14:26:00,2020-01-13 07:26:00,2020-01-13 08:26:00,DAL,11259,HOU,12191,N901WN,WN,19393,3,239.0,0,NaN,0
3,271408,2020-01-15 02:45:00,2020-01-15 03:37:00,2020-01-14 20:45:00,2020-01-14 21:37:00,STL,15016,DSM,11423,N778SW,WN,19393,1588,259.0,0,0.0,0
4,282447,2020-01-15 23:22:00,2020-01-16 00:49:00,2020-01-15 18:22:00,2020-01-15 19:49:00,CLT,11057,CHS,10994,N579NN,OH,20397,5207,168.0,0,NaN,1

In [39]:
df2[df2.OP_CARRIER_FL_NUM==3]

,ID,DATE_DEPARTURE_UTC,DATE_ARRIVAL_UTC,DATE_DEPARTURE_LCL,DATE_ARRIVAL_LCL,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,TAIL_NUM,OP_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15,ARR_DEL15
2,242237,2020-01-13 13:26:00,2020-01-13 14:26:00,2020-01-13 07:26:00,2020-01-13 08:26:00,DAL,11259,HOU,12191,N901WN,WN,19393,3,239.0,0,NaN,0
9339,134158,2020-01-07 21:17:00,2020-01-08 01:09:00,2020-01-07 16:17:00,2020-01-07 21:09:00,JFK,12478,SJU,14843,N2002J,B6,20409,3,1598.0,0,1.0,1
9634,182767,2020-01-10 20:05:00,2020-01-10 23:42:00,2020-01-10 15:05:00,2020-01-10 19:42:00,JFK,12478,SJU,14843,N948JB,B6,20409,3,1598.0,0,0.0,0
13958,88650,2020-01-05 18:15:00,2020-01-05 21:32:00,2020-01-05 10:15:00,2020-01-05 15:32:00,OAK,13796,STL,15016,N7835A,WN,19393,3,1725.0,0,NaN,0
15893,362921,2020-01-19 13:00:00,2020-01-19 15:50:00,2020-01-19 07:00:00,2020-01-19 10:50:00,ORD,13930,FLL,11697,N614NK,NK,20416,3,1182.0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410511,311831,2020-01-16 20:24:00,2020-01-17 00:08:00,2020-01-16 15:24:00,2020-01-16 20:08:00,JFK,12478,SJU,14843,N954JB,B6,20409,3,1598.0,0,1.0,1
411489,266176,2020-01-14 12:55:00,2020-01-14 16:04:00,2020-01-14 06:55:00,2020-01-14 11:04:00,ORD,13930,FLL,11697,N669NK,NK,20416,3,NaN,0,0.0,0
412361,61507,2020-01-04 22:17:00,2020-01-05 04:28:00,2020-01-04 17:17:00,2020-01-04 20:28:00,DCA,11278,SEA,14747,N926VA,AS,19930,3,2329.0,0,0.0,0
414936,285074,2020-01-15 17:25:00,2020-01-15 23:51:00,2020-01-15 12:25:00,2020-01-15 15:51:00,JFK,12478,LAX,12892,N107NN,AA,19805,3,2475.0,0,0.0,0
419184,343954,2020-01-18 17:27:00,2020-01-18 23:42:00,2020-01-18 12:27:00,2020-01-18 15:42:00,JFK,12478,LAX,12892,N102NN,AA,19805,3,2475.0,0,0.0,0

In [46]:
df2_DEP_DEL15_nan = df2[df2.DEP_DEL15==np.nan]
df2_DEP_DEL15_nan

Empty DataFrame
Columns: [ID, DATE_DEPARTURE_UTC, DATE_ARRIVAL_UTC, DATE_DEPARTURE_LCL, DATE_ARRIVAL_LCL, ORIGIN, ORIGIN_AIRPORT_ID, DEST, DEST_AIRPORT_ID, TAIL_NUM, OP_CARRIER, OP_CARRIER_AIRLINE_ID, OP_CARRIER_FL_NUM, DISTANCE, CANCELLED, DEP_DEL15, ARR_DEL15]
Index: []

In [47]:
df_reduce = df2[['ORIGIN','ORIGIN_AIRPORT_ID','DEST','DEST_AIRPORT_ID','OP_CARRIER_AIRLINE_ID','OP_CARRIER_FL_NUM','DISTANCE','CANCELLED','DEP_DEL15','ARR_DEL15']]

In [64]:
df_reduce

,ORIGIN,ORIGIN_AIRPORT_ID,DEST,DEST_AIRPORT_ID,OP_CARRIER_AIRLINE_ID,OP_CARRIER_FL_NUM,DISTANCE,CANCELLED,DEP_DEL15,ARR_DEL15
0,SLC,14869,SNA,14908,19790,1056,588.0,0,0.0,0
1,BOS,10721,SEA,14747,19930,15,2496.0,0,NaN,0
2,DAL,11259,HOU,12191,19393,3,239.0,0,NaN,0
3,STL,15016,DSM,11423,19393,1588,259.0,0,0.0,0
4,CLT,11057,CHS,10994,20397,5207,168.0,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...
419482,ONT,13891,OAK,13796,19393,1475,362.0,0,0.0,0
419483,FLL,11697,JFK,12478,20409,1202,1069.0,0,0.0,0
419484,IAH,12266,LAS,12889,19977,1044,1222.0,0,0.0,0
419485,MKE,13342,MCO,13204,19393,3487,1066.0,0,NaN,0
419486,PHX,14107,TUS,15376,20378,5756,NaN,0,NaN,1

In [55]:
df_reduce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419487 entries, 0 to 419486
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ORIGIN                 419487 non-null  object
 1   ORIGIN_AIRPORT_ID      419487 non-null  int64
 2   DEST                   419487 non-null  object
 3   DEST_AIRPORT_ID        419487 non-null  int64
 4   OP_CARRIER_AIRLINE_ID  419487 non-null  int64
 5   OP_CARRIER_FL_NUM      419487 non-null  int64
 6   DISTANCE               401869 non-null  float64
 7   CANCELLED              419487 non-null  int64
 8   DEP_DEL15              272667 non-null  float64
 9   ARR_DEL15              419487 non-null  int64
dtypes: float64(2), int64(6), object(2)
memory usage: 32.0+ MB

In [66]:
 s1 = df_reduce.DEP_DEL15.fillna(0)

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
419482    0.0
419483    0.0
419484    0.0
419485    0.0
419486    0.0
Name: DEP_DEL15, Length: 419487, dtype: float64

# how to fill nan values with the mode() of corresponding ...

In [84]:
df_reduce.DEP_DEL15.fillna('False')

0             0
1         False
2         False
3             0
4         False
          ...
419482        0
419483        0
419484        0
419485    False
419486    False
Name: DEP_DEL15, Length: 419487, dtype: object

In [88]:
df_reduce.columns

Index(['ORIGIN', 'ORIGIN_AIRPORT_ID', 'DEST', 'DEST_AIRPORT_ID',
       'OP_CARRIER_AIRLINE_ID', 'OP_CARRIER_FL_NUM', 'DISTANCE', 'CANCELLED',
       'DEP_DEL15', 'ARR_DEL15'],
      dtype='object')

In [89]:
df_big_reduce = df_reduce.drop(['ORIGIN', 'ORIGIN_AIRPORT_ID', 'DEST', 'DEST_AIRPORT_ID',
       'OP_CARRIER_AIRLINE_ID','DISTANCE', 'CANCELLED',
       ], axis=1)

In [90]:
df_big_reduce

        OP_CARRIER_FL_NUM DEP_DEL15  ARR_DEL15
0                    1056         0          0
1                      15     False          0
2                       3     False          0
3                    1588         0          0
4                    5207     False          1
...                   ...       ...        ...
419482               1475         0          0
419483               1202         0          0
419484               1044         0          0
419485               3487     False          0
419486               5756     False          1

[419487 rows x 3 columns]

In [94]:
df_big_reduce.DEP_DEL15.values

array([0.0, 'False', 'False', ..., 0.0, 'False', 'False'], dtype=object)

In [96]:
df_big_reduce[df_big_reduce.DEP_DEL15==True]

        OP_CARRIER_FL_NUM DEP_DEL15  ARR_DEL15
17                   5956         1          0
32                   1900         1          1
40                   4513         1          0
56                   4451         1          0
67                   2093         1          0
...                   ...       ...        ...
419422                671         1          0
419425               3751         1          0
419456                752         1          0
419458               5352         1          0
419460               1041         1          1

[40144 rows x 3 columns]