In [1]:
linear_regression = lambda x, b0, b1: b0 + b1 * x

In [3]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df = pd.read_csv('data/linear-learning-notebook.csv')
df.head(n=5)

          x         y
0 -3.325653  4.930689
1 -5.208228  5.155557
2 -4.224491  3.764528
3 -4.000666  4.424947
4 -5.858069  5.782441

In [8]:
df = df.sort_values('x')
df.head(n=5)

           x         y
4  -5.858069  5.782441
1  -5.208228  5.155557
11 -4.897145  5.735623
5  -4.746939  5.369360
9  -4.486578  5.597853

In [12]:
x_lin_df = df['x'].values
y_lin_df = df['y'].values
x_lin_df

array([-5.85806896, -5.20822783, -4.89714493, -4.74693931, -4.486578  ,
       -4.22449135, -4.00066616, -3.89276018, -3.75678736, -3.71509187,
       -3.3256531 , -2.60157926, -2.4528291 , -2.16561415, -1.78676704,
       -1.63762403, -1.20549681, -1.0798503 , -1.05847984, -0.95896241,
       -0.84417899, -0.78961754, -0.76682863, -0.71308352, -0.51530245,
       -0.17995591, -0.02832166,  0.18653916,  0.31362835,  0.42309829,
        0.60348512,  0.63685481,  1.40177226,  1.51901736,  1.94566325,
        2.51685308,  2.62959263,  2.72551315,  3.09958694,  3.21285862,
        3.30562618,  3.32341762,  3.32713508,  3.43804382,  4.21049121,
        4.52790258,  4.75437599,  5.69162607,  5.86634591,  5.88655295])

In [13]:
y_lin_df

array([ 5.78244061,  5.15555724,  5.73562293,  5.36936035,  5.59785307,
        3.76452839,  4.42494662,  3.7420432 ,  2.65113389,  2.70816601,
        4.93068883,  2.17206275,  1.21930189,  1.79956941,  2.05186855,
        2.85768191,  0.66019834,  0.01256745,  1.89415973,  1.85431005,
        0.15218277,  1.98477973, -0.93738145,  0.91877715,  1.21019015,
       -1.03728547, -0.4312569 , -0.95827868,  0.14978679, -1.20964059,
       -1.86981453, -1.3970584 , -2.26017091, -2.61737478, -3.29065083,
       -3.12489049, -4.49930014, -4.8931871 , -3.05877131, -2.57985736,
       -4.42774647, -4.48390405, -4.06965024, -5.29043013, -6.09155906,
       -4.84551941, -4.98224629, -7.47671453, -8.30841259, -5.69834336])