In [1]:
linear_regresion = lambda x,b_0,b_1:b_0 + b_1*x

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df_salary = pd.read_csv('data/salary_data.csv')
df_salary.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [21]:
plt.xlabel('YearsExperience')
plt.ylabel('Salary')
plt.title('Salary based on years experience')
plt.plot(df_salary['YearsExperience'], df_salary['Salary'],'b.');
plt.show()

TypeError: 'str' object is not callable