In [1]:
import pandas as pd
import numpy as np

In [7]:
ss = pd.DataFrame(np.arange(0,100).reshape(20,5), columns = ['A','B','C','D','E'])
ss

     A   B   C   D   E
0    0   1   2   3   4
1    5   6   7   8   9
2   10  11  12  13  14
3   15  16  17  18  19
4   20  21  22  23  24
5   25  26  27  28  29
6   30  31  32  33  34
7   35  36  37  38  39
8   40  41  42  43  44
9   45  46  47  48  49
10  50  51  52  53  54
11  55  56  57  58  59
12  60  61  62  63  64
13  65  66  67  68  69
14  70  71  72  73  74
15  75  76  77  78  79
16  80  81  82  83  84
17  85  86  87  88  89
18  90  91  92  93  94
19  95  96  97  98  99

In [9]:
ss.A.rolling(3).mean()

0      NaN
1      NaN
2      5.0
3     10.0
4     15.0
5     20.0
6     25.0
7     30.0
8     35.0
9     40.0
10    45.0
11    50.0
12    55.0
13    60.0
14    65.0
15    70.0
16    75.0
17    80.0
18    85.0
19    90.0
Name: A, dtype: float64

In [24]:
def trendline(data, order=1):
    coeffs = np.polyfit(data.index.values, list(data), order)
    slope = coeffs[-2]
    return float(slope)

#Sample Dataframe
revenue = [0.85, 0.99, 1.01, 1.12, 1.25, 1.36, 1.28, 1.44]
year = [1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000]
df = pd.DataFrame({'year': year, 'revenue': revenue})

df

   year  revenue
0  1993     0.85
1  1994     0.99
2  1995     1.01
3  1996     1.12
4  1997     1.25
5  1998     1.36
6  1999     1.28
7  2000     1.44

In [25]:
df['year'].values

array([1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000])

In [20]:
np.polyfit(df.index.values,df.year.values,1)

array([1.000e+00, 1.993e+03])

In [26]:
def trendline(data, order=1):
    coeffs = np.polyfit(data.index.values,data.year.values, order)
    slope = coeffs[-2]
    return float(slope)

In [27]:
trendline(df)

1.000000000000018

In [ ]:
for df in str_num_st:
    df_imputed = imputer.fit_transform(df) # This may take a bit to run
    df_imputed = pd.DataFrame(df_imputed, index=df.index, columns=df.columns)
    str_num_st_filna.append(df_imputed.reset_index(drop = True))
def trendline(data, order=1):
    coeffs = np.polyfit(data.index.values,data.customers.values, order)
    slope = coeffs[-2]
    return float(slope)
slopes = [];
for df in str_num_st_filna:
    slopes.append(trendline(df,1))
    
max_trend_store = max(slopes)